.chat-section{
    display: flex;
    justify-content: center;
}

.chatbox{
    font-weight: 600;
    width:94%;
    height: 500px;
    border-radius: 20px;
    border-bottom-left-radius: var(--mainBorderRadius);
    border-bottom-right-radius: var(--mainBorderRadius);

    background-color: var(--mainTextColor);
   margin: auto;
   overflow: scroll;
}
.contact-name{
    position: relative;
    top: 20px;
    height: 100px;
   margin: auto;
    width: 90%;
    text-align: center;
    color:rgb(243, 247, 247);
    font-size: 2rem;
}
.sentMSG-div{
  display: block;
    position: relative;
   width: 70%;
   margin-left: 25%;
   
}
.sentMSG-div>ul{
    list-style-type: none;
}
#msgList{
    text-align: right;
}
.recMsg{
    position: relative;
    left: -54%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sentMsg-p{
    text-align: center;
    margin-top: 100px;
   margin-left:-25%;
    font-size: xx-large;
    
}
.sentMessage{
    display: flex;
    justify-content: end;
    align-items: center;
    overflow-wrap: break-word;
    margin-right: 15px;
}
.recDate{
    visibility: hidden;
    padding-right: 7px;
  
}
.sentMsgTime{
   position: absolute;
   margin: auto;
   left: 97%;
   text-align: center;
   visibility: hidden;
   
}
.sentMessage:hover .sentMsgTime{
    visibility: visible;
    color:blueviolet;
}
.recMsg:hover .recDate{
    visibility: visible;
    color:blueviolet;
}

.btn-exit{
    background-color: var(--mainColor);
    border: none;
    color: white;
    font-size: x-large;
    position: absolute;
    top: 20px;
    left: 30px;
}

.textboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}
.messageArea{
    height: 28px;
    width: 300px;
}

.prof{
    width: 200px;
    border-radius: 50px;
}