.chat-section{
    display: flex;
    justify-content: center;
}

.chatbox{
    font-weight: 600;
    width:94%;
    height: 500px;
    border-radius: var(--mainBorderRadius);
    background-color: var(--mainTextColor);
   margin: auto;
   overflow: scroll;
}
.contact-name{
    position: relative;
    top: 20px;
    height: 100px;
   margin: auto;
    width: 90%;
    text-align: center;
    color:rgb(243, 247, 247);
    font-size: 2rem;
}
.sentMSG-div{
  display: block;
    position: relative;
   width: 70%;
   margin-left: 25%;
}
.sentMSG-div>ul{
    list-style-type: none;
}
#msgList{
    text-align: right;
    
}
.sentMsg-p{
    text-align: right;
    
}
.sentMessage{
    overflow-wrap: break-word;

}
.sentMsgTime{
    position: absolute;
    margin: auto;
   font-size: small;
   visibility: hidden;
}
.sentMessage:hover .sentMsgTime{
    visibility: visible;
}

.btn-exit{
    background-color: var(--mainColor);
    border: none;
    color: white;
    font-size: x-large;
    position: absolute;
    top: 20px;
    left: 30px;
}

.textboard{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
    background-color: #ccb0dd;

}
.messageArea{
    height: 28px;
}