
/* Styles for login page */
.login-section{
    display: flex;
    justify-content: center;
}

.login > h1{
    text-align: center;
    color: aliceblue;
    margin-top: 10%;
}
.loginForm{
    display: block;
    margin: auto;
    border-radius: var(--mainBorderRadius);
    height: 500px;
    width: 95%;
    background-color: var(--mainTextColor);
    text-align: center;
}
.loginInfo{
    border:none ;
    display: block;
    margin-top: 10%;
}
.loginPassword{
    position: relative;
    left: 4.5%;
}
.showLoginPass{
    position: relative;
    left: 2%;
   

    
    
}
.loginLabel{
    font-weight: bold;
    font-size: x-large;
}
.rights{
    margin: 80px;
    text-align: center;
    color: antiquewhite;
}
.rights>a{
    color: #4b4629;
}