
/* Styles for login page */
.login-section{
    display: flex;
    justify-content: center;
  
}

.login > h1{
    text-align: center;
    color: aliceblue;
    margin: 2%;
}
.loginForm{
    display: block;
    margin: auto;
    border-radius: var(--mainBorderRadius);
    height: 500px;
    width: 95%;
    background-color: var(--mainTextColor);
    text-align: center;
    
}
.loginInfo{
    border:none ;
    display: block;
    margin-top: 10%;
}
.loginPassword{
    position: relative;
    left: 3.5%;
}
.loginBtn{
    margin-top: 15%;
    font-size: large;
    max-width: 200px;
    font-weight: 700;
}
.showLoginPass{
    position: relative; 
    right: 7%;
  
   }
.loginLabel{
    font-weight: bold;
    font-size: x-large;
}

