:root{
    --viewWidth: 100%;
    --mainColor: #cd7ad8;
    --mainTextColor:#eed1f5;
    --viewHeight: 800px;
    --mainBorderRadius: 50px;
    --mainFont:'Courier New', Courier, monospace;
}


/* Styles that matching */
.box, .chat, .sign, .login{
    position: absolute;
    border-radius: var(--mainBorderRadius);
    background-color:var(--mainColor);
    font-family:var(--mainFont);
}




/* Styles for messaging page - messaging with selected contact */
.chat{
    visibility: visible;
    display: block;
}
.chatbox{
    font-weight: 600;
    width:94%;
    height: 450px;
    border-radius: var(--mainBorderRadius);
    background-color: var(--mainTextColor);
    margin-left: 3%;
}
.contact-name{
    height: 19.8%;
    width: 90%;
    margin-left: 5%;
    word-break: break-all;
    text-align: justify;
text-justify: distribute;
text-align-last: left;
    color:rgb(243, 247, 247);
    font-size: 3rem;
}
.sentMsg-div {
    width: 100%;
    max-height: 400px;
    text-align: right;
    overflow: scroll;
}
.sentMsg-p{
    width: 95%;
}
.exitBtn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: none;
    position: absolute;
    margin-top: -50px;

}

.textboard{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
    background-color: #ccb0dd;

}
.messageArea{
    height: 28px;
}

.sentMsg-p{
    margin-right: 15%;
    color:rgb(109, 4, 4);
    font-size:larger;
    max-width: 100%;
}

.hidden{
    visibility: hidden;
}