:root{
    --viewWidth: 100%;
    --mainColor: #cd7ad8;
    --mainTextColor:#eed1f5;
    --viewHeight: 800px;
    --mainBorderRadius: 50px;
    --mainFont:'Courier New', Courier, monospace;
}


/* Styles that matching for contact list and chat pages */
.box, .chat, .sign, .login{
    position: absolute;
    border-radius: var(--mainBorderRadius);
    background-color:var(--mainColor);
    font-family:var(--mainFont);
}

/* Styles for first Page  - Contact list */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color:rgb(243, 247, 247);
    font-size: 3rem;
    font-family:var(--mainFont);
    position:relative;
}

.contact-list{
   
    font-weight: 600;
    width:100%;
    height: 498px;
    border-radius: var(--mainBorderRadius);
    background-color: var(--mainTextColor);
    display: block;
    max-height: 80%;
    overflow-y:scroll;
}


.errorMsg{
text-align: center;
color: #e43011;
position: absolute;
margin-left: 180px;
margin-top: -35px;
font-size: 1.5rem;
opacity: 0;
}


::-webkit-scrollbar{
    width: 0px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    border-radius: 20px;
    width: 300px;
    font-size: larger;
    height: 50px;
    
    border: none;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--mainColor);
    border-radius: 20px;
    height: 20%;
    
}
.name{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.endMsg{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: 700;
    color: #e43011;
}



/* Styles for messaging page - messaging with selected contact */
.chat{
    visibility: visible;
    display: block;
}
.chatbox{
    font-weight: 600;
    width:94%;
    height: 450px;
    border-radius: var(--mainBorderRadius);
    background-color: var(--mainTextColor);
    margin-left: 3%;
}
.contact-name{
    height: 19.8%;
    width: 90%;
    margin-left: 5%;
    word-break: break-all;
    text-align: justify;
text-justify: distribute;
text-align-last: left;
    color:rgb(243, 247, 247);
    font-size: 3rem;
}
.sentMsg-div {
    width: 100%;
    max-height: 400px;
    text-align: right;
    overflow: scroll;
}
.sentMsg-p{
    width: 95%;
}
.exitBtn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: none;
    position: absolute;
    margin-top: -50px;

}

.textboard{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
    background-color: #ccb0dd;

}
.messageArea{
    height: 28px;
}

.sentMsg-p{
    margin-right: 15%;
    color:rgb(109, 4, 4);
    font-size:larger;
    max-width: 100%;
}

.hidden{
    visibility: hidden;
}