:root{
    --viewWidth: 500px;
}

body{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.box{
    position: absolute;
    
    width:var(--viewWidth);
    height: 500px;
    border-radius: 50px;
    background-color: #b02fe4;
    box-sizing: border-box;
    opacity: 0;
}
.chat{
    width:var(--viewWidth); 
    height: 700px;
    border-radius: 50px;
    background-color: #e4592f;
    border: 2px solid black;
    opacity: 1;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color:rgb(243, 247, 247);
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace
}

.contact-list{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    height: 80%;
    border-radius: 50px;
    background-color: #f4ecf5;
    display: block;
    max-height: 100%;
    overflow-y:scroll;
}
.contact-name{
    height: 20%;
}
.chatbox{
    position: relative;
    height: 100%;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    height: 60%;
    border-radius: 50px;
    background-color: #f4ecf5;
}
.chatbox > input{
    width:300px;
    height: 50px;
    margin-bottom: 40px;
    border: none;
    border-radius: 40px;
    font-size: large;
}
.chatbox > button{
    margin-bottom: 45px;
    font-size: 1.6rem;
    border: none;
}
.chatbox > button:hover{
    background-color: #b02fe4;
}
.sentMsg {
    width:var(--viewWidth);
    text-align: right;
    position: absolute;
    margin-bottom: 200px;
}
.sentMsg>p{
        border: 1px solid black;
        font-size: x-large;
}

::-webkit-scrollbar{
    width: 0px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    border-radius: 20px;
    width: 300px;
    font-size: larger;
    height: 50px;
    background-color: #f4ecf5;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #b02fe4;
    border-radius: 20px;
    height: 20%;
    
}
.name{
display: flex;
justify-content: center;
align-items: center;
}
.endMsg{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: 700;
    color: #e43011;
}